<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.nikesh.scheduler.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.nikesh.scheduler.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddModuleController</servlet-name>
        <servlet-class>com.nikesh.scheduler.controller.AddModuleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTeacherController</servlet-name>
        <servlet-class>com.nikesh.scheduler.controller.AddTeacherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClassroomController</servlet-name>
        <servlet-class>com.nikesh.scheduler.controller.AddClassroomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGroupController</servlet-name>
        <servlet-class>com.nikesh.scheduler.controller.AddGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyClassroomController</servlet-name>
        <servlet-class>com.nikesh.scheduler.controller.ModifyClassroomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyGroupController</servlet-name>
        <servlet-class>com.nikesh.scheduler.controller.ModifyGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyTeacherController</servlet-name>
        <servlet-class>com.nikesh.scheduler.controller.ModifyTeacherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyModuleController</servlet-name>
        <servlet-class>com.nikesh.scheduler.controller.ModifyModuleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddModuleController</servlet-name>
        <url-pattern>/AddModuleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTeacherController</servlet-name>
        <url-pattern>/AddTeacherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClassroomController</servlet-name>
        <url-pattern>/AddClassroomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGroupController</servlet-name>
        <url-pattern>/AddGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyClassroomController</servlet-name>
        <url-pattern>/ModifyClassroomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyGroupController</servlet-name>
        <url-pattern>/ModifyGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyTeacherController</servlet-name>
        <url-pattern>/ModifyTeacherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyModuleController</servlet-name>
        <url-pattern>/ModifyModuleController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
